<div class="login-page"><br>
<h1>Welcome to My Beatz!</h1>
<%= image_tag("guitar-logo.jpeg", width: '200vw', class: "logo-style") %><br>
<br><h4><em>Discover new songs and read reviews about them.</em></h4>




    <%= flash[:message] %>
    <%= form_for :auth do |f| %><br>

    <p>Username: <%= f.text_field :username, class: "input-field" %><br><br>
    <p>Password: <%= f.password_field :password, class: "input-field" %><br><br><br>
    
    
    <%= f.submit "Login", class: "btn btn-outline-dark" %>
    <% end %>
  
    <br>
   
    <%= button_to "Sign Up", signup_path, class: "btn btn-outline-dark" %>
    
</div>
