<div class="login-page">
<br><h2>Welcome to My Beatz!</h2><br>
<%= image_tag("guitar-logo.jpeg", width: '200vw', class: "logo-style") %><br>
<br><h4><em>Discover new songs and read reviews about them.</em></h4>




    <%= flash[:message] %>
    <%= form_for :auth do |f| %><br>

    <p><strong>Username:</strong> <%= f.text_field :username %><br><br>
    <p><strong>Password:</strong> <%= f.password_field :password %><br><br><br>
    
    
    <%= f.submit "Login" %>
    <% end %>
  
    <br>
   
    <%= button_to "Sign Up", signup_path %>
    
</div>
