<div class="container text-center"><br>
<h2>Edit Your Profile</h2>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
    <p><strong>Username:</strong> <%= f.text_field :username, class: "input-field" %><br><br>
    <p><strong>Password:</strong> <%= f.password_field :password, class: "input-field" %><br><br>
    <p><strong>Confirm Password:</strong> <%= f.password_field :password_confirmation, class: "input-field" %><br><br><br>
    
    <%= f.submit "Update User", class: "btn btn-outline-dark" %><br><br><br>

    <form>
      <input type="button" class="btn btn-outline-dark" value="Go Back!" onclick="history.back()">
    </form>
<% end %>
</div>
