<div class="song-index"><br>
<h2>All the Songs</h2>

<!--<h4>Don't see a song you want to review?
    <%= link_to "Add a new song here!", new_song_path %> </h4>-->


    <%= form_tag(songs_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], class: "input-field", placeholder: "search by artist" %>
    <%= submit_tag ("Search"), class: "btn btn-outline-dark" %>
    <% end %>


<br><ul>
    <% @songs.each do |song| %>
    <li>
       <em><%= link_to song.name, song %></em> 
    </li><br>
    
    <% end %>
</ul>
</div>
