<div class="container text-center">
<h2>All The Songs</h2>

<h4>Don't see a song you want to review?
    <%= link_to "Add a new song here!", new_song_path %> </h4>


      <%= form_tag(songs_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search])%>
        <%= submit_tag ("Search")%>
      <% end %>


<ul>
    <% @songs.each do |song| %>
    <li>
        <%= link_to song.name, song %> 
    </li><br>
    
    <% end %>
</ul>
</div>