<div class="song-index">
<h2>All the Songs</h2>

<!--<h4>Don't see a song you want to review?
    <%= link_to "Add a new song here!", new_song_path %> </h4>-->


    <%= form_tag(songs_path, method: :get) do %>
    <p><strong>Search list by Artist Name</strong> <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag ("Search")%>
    <% end %>


<ul>
    <% @songs.each do |song| %>
    <li>
       <em><%= link_to song.name, song %></em> 
    </li><br>
    
    <% end %>
</ul>
</div>
