<div class="book-show"><br>
<h2>About This Book</h2> 

<p><strong>Title:</strong> <em><%= @book.title %></em></p>
<p><strong>Author:</strong> <%= @book.author %></p> 

<p><strong>Genres:</strong> 
    <% @genres.each do |genre| %>
    |<%= genre.name %>|
    <% end %>
</p> 

<%= link_to "Edit Book", edit_book_path(@book.id) %> <br><br>


<h2>Reviews for this Book</h2>
<% if @reviews.length == 0 %>
<p>No reviews for this book yet...</p>
<% else %>
<% @reviews.each do |review| %>

    <p><strong>User:</strong> <u><%= review.user.username %></u><br>
    <p><strong>Text:</strong> <%= link_to review.text, review %><br>
       <p><strong>Review Date:</strong> <%= review.created_at %>
        <% end %>
    <% end %>


</div>

