<div class="container text-center">
<h2>Write a New Review Please</h2>

<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @review do |f| %>
    
    <p><strong>Song:</strong> <%= f.collection_select(:song_id, Song.all, :id, :name) %><br><br>
    <p><strong>Review Text:</strong><br> <%= f.text_area :text, cols: "50", rows: "4" %><br><br>
    <%= f.submit %>
<% end %>
</div>