<div class="review-show"><br>
<h2>This Review</h2>

<p>Song Name: <em><%= @review.song.name %></em><br>
<p>By: <u><%= @review.user.username %></u><br>


<p>Text: <%= @review.text %><br>


<p>Review date: <%= @review.created_at %>

<!--<%= link_to 'Edit Review', edit_review_path(@review.id) %> <br><br>
<%= button_to "Delete Review", review_path(@review), method: :delete %>-->
</div>
