<div class="review-show"><br>
<h2>This Review</h2>

<p><strong>Book Title:</strong> <em><%= @review.book.title %></em><br>
<p><strong>Reviewed By:</strong> <u><%= @review.user.username %></u><br>


<p><strong>Text:</strong> <%= @review.text %><br>


<p><strong>Review date:</strong> <%= @review.created_at %>

<!--<%= link_to "Edit Review", edit_review_path(@review.id) %> <br><br>
<%= button_to "Delete Review", review_path(@review), method: :delete %>-->
</div>
