<!DOCTYPE html>
<html>
  <head id="top"> 
    <title>SongFinderApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>
    
    <body>
    <div class="border">
    
    <div class="navbar">
  
    <% if logged_in? %>
  
    <form class="form-inline">
    <a class="navbar-brand" href="/welcome/index"></a>
    <a class="nav-item" href="/songs">Song List</a>
    <a class="nav-item" href="/songs/new">Add a Song</a>
    <a class="nav-item" href="/genres/new">Add a Genre</a>
    <a class="nav-item" href="/reviews">Review List</a>
    <a class="nav-item" href="/reviews/new">Add a Review</a>
    <a class="nav-item" style="float:right" href="/logout">Logout</a>
    <a class="nav-item" style="float:right" href="/users/<%= logged_in_user.id %>%"><%= logged_in_user.username %></a>
    </form>
  
        <% else %>
  
        <a class="navbar-brand" href="/login"></a>
        <br>
          <% end %>
          <br>
  
  
        </div>
      </div>


    <%= yield %>
  </body>
</html>
