<!DOCTYPE html>
<html>
  <head> 
    <title>BookFinderApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>
    
    <body>
    
     
    <div class="navbar">
  
    <% if logged_in? %>
  
    <form class="form-inline">
    <%= image_tag("app/assets/images/my-bookz.jpeg", width: '35vw', class: "logo-style") %><br>
   
    <a class="nav-item" href="/books">Book List</a>
    <a class="nav-item" href="/books/new">Add a Book</a>
    <a class="nav-item" href="/genres/new">Add a Genre</a>
    <a class="nav-item" href="/reviews">Review List</a>
    <a class="nav-item" href="/reviews/new">Add a Review</a>
    <a class="navbar-nav ml-auto" href="/users/<%= logged_in_user.id %>%"><%= logged_in_user.username %></a>
    <a class="nav-item" href="/logout">Logout</a>
    </form>

        <% else %>
  
        <a class="navbar-brand" href="/login"></a>
        <br>
          <% end %>
          <br>
  
  
        </div>
       
     


    <%= yield %>

    <br>
    <br>
    <br>
    <br>
    <footer class="page-footer font-small">

      
        <div class="footer-copyright text-center py-3">Copyright ~ Jacob Knopf 2020</div>
      
      
    </footer>


  </body>
</html>
