<!DOCTYPE html>
<html>
  <head>
    <title>SongFinderApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navbar">

  <form class="form-inline">
  <a class="nav-item" href="/songs">Song List</a>
  <a class="nav-item" href="/songs/new">Add a Song</a>
  <a class="nav-item" href="/reviews">Review List</a>
  <a class="nav-item" href="/reviews/new">Add a Review</a>
  <a class="nav-item" href="/genres/new">Add a Genre</a>
  <a class="nav-item" href="/users/new">Create Account</a>
  </form>

  </div>

    <%= yield %>
  </body>
</html>
